<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cat.wars.cms.manager_course.dao.CourseTeachPlanMapper">
    <resultMap id="teachPlanMap" type="cat.wars.cms.framework.domain.course.ext.TeachPlanNode">
        <id property="id" column="one_id"/>
        <result property="pname" column="one_pname"/>

        <collection property="children" ofType="cat.wars.cms.framework.domain.course.ext.TeachPlanNode">
            <id property="id" column="two_id"/>
            <result property="pname" column="two_pname"/>

            <collection property="children" ofType="cat.wars.cms.framework.domain.course.ext.TeachPlanNode">
                <id property="id" column="three_id"/>
                <result property="pname" column="three_pname"/>
            </collection>
        </collection>
    </resultMap>

    <select id="findNodeList" parameterType="string" resultMap="teachPlanMap">
        SELECT one.id one_id
        , one.pname one_pname
        , two.id two_id
        , two.pname two_pname
        , three.id three_id
        , three.pname three_pname
        FROM teach_plan one
        LEFT JOIN teach_plan two ON one.id = two.parentid
        LEFT JOIN teach_plan three ON two.id = three.parentid
        WHERE one.parentid = 0
        <if test="null != _parameter and '' != _parameter">
            AND one.courseid = #{courseId}
        </if>
        ORDER BY one.orderby, two.orderby, three.orderby
    </select>
</mapper>
