<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cat.wars.cms.manager_course.dao.CourseCategoryMapper">
    <resultMap id="categoryNodeMap" type="cat.wars.cms.framework.domain.course.ext.CategoryNode">
        <result column="a_name" property="name"/>
        <collection property="children" ofType="cat.wars.cms.framework.domain.course.ext.CategoryNode">
            <id column="b_id" property="id"/>
            <result column="b_name" property="name"/>
            <collection property="children" ofType="cat.wars.cms.framework.domain.course.ext.CategoryNode">
                <id column="c_id" property="id"/>
                <result column="c_name" property="name"/>
            </collection>
        </collection>
    </resultMap>

    <select id="findNodeList" parameterType="string" resultMap="categoryNodeMap">
        SELECT a.name a_name
        , b.id b_id
        , b.name b_name
        , c.id c_id
        , c.name c_name
        FROM category a
        LEFT JOIN category b ON a.id = b.parentid
        LEFT JOIN category c ON b.id = c.parentid
        WHERE a.parentid = 0
        <if test="null != _parameter and '' != _parameter">
            AND c.name LIKE #{categoryName}
        </if>
        ORDER BY a.orderby, b.orderby, c.orderby
    </select>
</mapper>
